* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}

.table {
    background: none !important;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  /*background: #f1f1f1f1;*/
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

.mySlides > q {
    font-size: 80px;
    color: #006fb4;
    text-shadow: 1px 1px #000;
    font-weight: 700;
    font-family: cursive;
    font-style: italic;
    height:232px;
    display: inline-block;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add a blue color to the author */
.author {color: cornflowerblue;}

.row-counter > td {
    font-size:200px;
}

.row-name {
    font-size:55px;
    color:#fff;
}

.row-plusminus > td > div {
  padding: 0px;
  margin: 0px;
  height: 67px;
  font-size: 125px;
  color: #fff;
  position: relative;
  top: -74px;
}

#content {
  background: #ffffff78;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
}

.player-container {
  margin: 20px; background: #006fb4e0; 
  border-radius: 20px;
}

.btn-plus-minus {
  font-size: 90px; 
  top: -34px; 
  position: relative; 
  color: #999;
}

.btn-plus-minus:hover {
  color:#fff;
}

.row-name > td {
  border-top:none;
}

#slider {
    margin:110px 300px;
    background: #ffffff9c;
    height:420px;
}

.prev-next {
  font-size: 90px;
  top: 155px;
  color: #006fb4 !important;
}

.prev-next:hover {
  color:#fff !important;
  background: none !important;
}

#logo {
  position: fixed;
  right: 52px;
  top: 76px;
}

#logo > img {
  width:150px;
}

#muetze {
  position: fixed;
  right: 16px;
  top: 25px;
}

#muetze > img {
  width:135px;
}

#slider > div {
  border: 5px solid #fff;
}
